  <!DOCTYPE html>
  <html lang="fr">
  <head>
    <title>FlaskyChat</title>
  </head>
  <body>
    <style>
        body {
       background-image:url("{{ url_for('static', filename='img.jpg')}}");
       opacity: 0.5;
       background-color:000000;
    }
    </style>

    <h3 style='color: #000000;font-size: 30px;'>Aucun message...</h3>
    <div class="message_holder"></div>

    <form action="" method="POST">
      <input type="text" class="message" placeholder="Message"/>
      <input type="submit" value="GO!"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = '{{ Pseudo }}'
          let user_input = $( 'input.message' ).val()
          let chat_id = '{{ ChatID }}'
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input,
            chat_id : chat_id
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
	let chatid = '{{ ChatID }}'
        if( (typeof msg.user_name !== 'undefined') && (msg.chat_id == chatid) ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><font size="4"><b style="color: #FFF">'+msg.user_name+'</b></font> <i style="color: #FFF">'+msg.message+'</i></div>' )
        }
      })
    </script>

  </body>
</html>
