<html>
    <body>
    	<style>
    		body {
			 background-image:url("{{ url_for('static', filename='img.jpg')}}");
			 background-position: center;
			 background-size: cover;	
			 background-color:000000;
		}
		</style>
		<form action="/postresponse" method="post">
		  <br>
		  <input type="text" name="user" placeholder="Pseudo">
		  <br>
                  <input type="text" name="chatid" placeholder="Chat ID">
		  <br>
		  <input type="text" name="code" placeholder="Code">
		  <br><br>
		  <input type="submit" value="GO!">
		</form> 
    </body>
</html>
